html {
  min-height: 100%;
}

body {
    /* background: rgb(254,152,0); */
    /* background: linear-gradient(160deg, rgba(254,152,0,1), rgba(0,100,255,1) 100%); */
    background-image: linear-gradient(-160deg, rgba(254,152,0,1), rgba(0,100,255,1) 100%);
    /* background-repeat: no-repeat; */
}

.vertical-space {
    height: 20vh;
}
.app-container {

    text-align: center;
    margin:auto;

    width: 200px;
    height: 260px;
    /* border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;     */
    
}

.center-container {
    text-align: center;
}
.button {
    /* margin: auto; */
}

.card-output {

    text-align: center;
    width: 150px;
    height: 200px;
    margin:auto;

} 

.cardMargin {

}

.backgroundColor-red {
    background-color: white;
    min-height:100%;
    min-width: 100%;

    border-style: solid;
    border-width: 10px;
    border-color: red;
    border-radius: 10px;

    margin:auto;
}
.backgroundColor-black {
    background-color: white;
    min-height:100%;
    min-width: 100%;

    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 10px;

    margin:auto;
}